<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Taimaz</title>
</head>
<body >
    <header class="header" style="visibility: inherit; opacity: 1;">
        <nav>
            <a id="login" name="Login with Mollie" class="button" href="https://useplink.com/login" target="_self"
            rel="nofollow">درخواست تماس</a>
            <div class="header_menu">
                <a name="Faq" href="/faq">سوالات</a>
                <a name="Contact" href="mailto:plink@mollie.com" target="_self">تماس با ما</a>
                <div class="qr-ball" style="visibility: hidden; opacity: 0;"></div>
            </div>
        </nav>
        <a class="logo" name="Home" href="/">
            <h1>Taimaz</h1>
        </a>
    </header>
    <div class="page-wrapper">
        <section class="home_intro">
            <div class="video-background prllx">
                <div class="home_intro_videos">
                    <video class="intro" playsinline autoplay loop muted>
                        <source src="assets/video/intro.webm" type="video/webm">
                    </video>
                </div>
            </div>
            <div class="home_titles">
            </div>
        </section>
    </div>

    <script src="assets/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>