<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Taimaz</title>
</head>
<body >
    <div class="navbar  fixed-top">
        <div class="nav-item text-white">
            <ul>
                <li class="nav-items d-inline m-1"><a href="#" class="btn btn-primary rounded-pill btn-sm " role="button" aria-disabled="true">درخواست تماس</a></li>
                <li class="nav-items d-inline m-1"><a href="#" class="text-white text-decoration-none">سوالات</a></li>
                <li class="nav-items d-inline m-1"><a href="#" class="text-white text-decoration-none">تماس با ما</a></li>
            </ul>
        </div>
        <div class="navbar-brand mx-5 my-3 text-white">
            <h1>Taimaz</h1>
        </div>
    </div>
    <div class="col-12 text-white row-hero">
        <video id="myVideo" playsinline autoplay muted>
            <source src="assets/video/intro.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>

    <script src="assets/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>