a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.f--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@font-face {
    font-family: Circular Pro Book;
    src: url(/assets/fonts/CircularPro-Book.fcea822f.woff2) format("woff2"), url(/assets/fonts/CircularPro-Book.588eb6b1.woff) format("woff");
    font-weight: 450;
    font-style: normal
}

@font-face {
    font-family: Circular Pro Medium;
    src: url(/assets/fonts/CircularPro-Medium.6d9ac4df.woff2) format("woff2"), url(/assets/fonts/CircularPro-Medium.03178f59.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

.smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll
}

body,
html {
    width: 100%
}

body {
    font-family: Circular Pro Book, sans-serif;
    font-size: .97222vw;
    line-height: 1;
    color: #f1f1f1;
    background: #fff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body.show-grid:after {
    content: "";
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: calc(100% + 1px);
    height: 100vh;
    background-image: repeating-linear-gradient(90deg, transparent, transparent calc(4.16667% - 1px), rgba(255, 0, 0, .33) calc(4.16667% - 1px), rgba(255, 0, 0, .33) 4.16667%);
    background-size: 100% 4.16667%
}

.loading * {
    cursor: progress !important
}

img {
    display: block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

svg {
    pointer-events: none
}

section {
    position: relative
}

::selection {
    background-color: rgba(44, 113, 246, .98) !important;
    color: #fff
}

::-moz-selection {
    background-color: rgba(44, 113, 246, .98) !important;
    color: #fff
}

.white-selection ::selection {
    background-color: hsla(0, 0%, 100%, .99) !important;
    color: #000
}

.white-selection ::-moz-selection {
    background-color: hsla(0, 0%, 100%, .99) !important;
    color: #000
}

.a,
a,
a:visited {
    pointer-events: auto;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

h1,
h2,
h3,
h4 {
    text-rendering: optimizelegibility
}

a,
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none
}

pre {
    font-family: Inconsolata, Lucida Console, Monaco, monospace;
    font-size: 1.4rem;
    line-height: 1.3em;
    text-align: left;
    margin: 9rem;
    max-width: 50rem;
    white-space: pre-wrap;
    text-transform: none
}

b,
strong {
    font-weight: 700
}

.dg * {
    pointer-events: auto
}

.dg.ac {
    z-index: 999 !important
}

.dg.ac .close-button,
.dg.ac .property-name {
    color: #fff
}

.hiding {
    position: absolute !important
}

.hidden {
    visibility: hidden !important;
    opacity: 0
}

.scrollable {
    z-index: 1;
    width: 100%
}

.is-mobile .scrollable {
    overflow: hidden
}

.page-wrapper {
    min-height: 100vh
}

.prllx {
    overflow: hidden
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.softShadow {
    -webkit-box-shadow: 0 0 48px -6px rgba(0, 0, 0, .29);
    box-shadow: 0 0 48px -6px rgba(0, 0, 0, .29)
}

.softTextShadow {
    text-shadow: 0 0 10px hsla(0, 0%, 58.8%, .79)
}

.bgCover {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.expo {
    position: absolute;
    top: .6em;
    right: 1.1em;
    font-size: 2.4vmin;
    line-height: 1;
    padding-bottom: .3em;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.header {
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: .90278vw;
    line-height: 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0
}

.is-mobile .header {
    position: absolute;
    height: 100vh
}

.header .logo {
    position: relative;
    pointer-events: auto;
    display: inline-block;
    margin-left: 4.16667%;
    margin-top: 4.5rem;
    width: 5.7rem;
    overflow: hidden
}

.is-mobile .header .logo {
    margin-left: 8.33333%;
    margin-top: 3.5rem;
    width: 6.4rem
}

.header .logo svg {
    fill: #fff
}

.header .logo span {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.header .button {
    z-index: 2;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
    background: #2c71f6;
    color: #fff;
    border-radius: 3em;
    padding: 0 .85em;
    height: 2.2em;
    margin-left: .65em
}

.is-mobile .header .button {
    position: absolute;
    bottom: 12vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 6.66667vw;
    padding: 0 .55em;
    min-width: 76vw;
    margin: 0;
    display: none
}

.header a.button:hover {
    color: #fff;
    opacity: 1
}

.header nav {
    pointer-events: auto;
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 4rem;
    right: 4.16667%;
    color: inherit
}

.header nav .header_menu {
    position: relative;
    overflow: hidden
}

.header nav a {
    font-size: 1.4rem;
    padding: .1em .55em;
    color: inherit;
    opacity: 1
}

.is-mobile .header nav a:last-child {
    padding-right: 0
}

@media (hover:hover) {
    .header nav a:hover {
        opacity: .65
    }
}

.header .qr-ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 20.53333vw;
    height: 20.53333vw;
    border-radius: 50%;
    background: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    opacity: 0;
    visibility: hidden
}


.video-background {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    overflow: hidden
}

.video-background video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.is-edge .video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.page_header {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Circular Pro Medium, sans-serif;
    line-height: 1;
    padding: 13vw 0 1.5vw;
    text-align: center
}

.is-mobile .page_header {
    padding-top: 50vw
}

.page_header .title {
    font-size: 8.68056vw
}

.is-mobile .page_header .title {
    font-size: 17.33333vw;
    line-height: 1.1;
    width: 91.66667%;
    margin: auto
}

.page_header .baseline {
    color: #1997fc;
    font-size: 1.38889vw;
    margin-top: 1vw
}

.is-mobile .page_header .baseline {
    font-size: 5.33333vw;
    width: 91.66667%;
    margin: 3vw auto auto
}

.page_content {
    position: relative;
    width: 41.66667%;
    margin: auto;
    padding-bottom: 9vw
}

.is-mobile .page_content {
    width: 83.33333%;
    margin-top: 15vw;
    margin-bottom: 18vw
}

.page_content h2 {
    font-size: 1.38889vw;
    font-family: Circular Pro Medium, sans-serif;
    margin-top: 4vw
}

.is-mobile .page_content h2 {
    font-size: 5.33333vw;
    margin-top: 12vw
}

.page_content p {
    font-size: .97222vw;
    line-height: 1.6;
    color: #fff;
    margin-top: 1.4vw
}

.is-mobile .page_content p {
    font-size: 3.73333vw;
    margin-top: 6vw
}

.page_gif {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.page_gif video {
    width: 41.66667%
}

.is-mobile .page_gif video {
    width: 100%
}

.arrow-bottom {
    width: 1.7rem;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    right: 4.1vw;
    bottom: 4rem
}

.is-mobile .arrow-bottom {
    display: none
}

.home_titles {
    z-index: 2;
    font-family: Circular Pro Medium, sans-serif;
    position: relative;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 8.33333%
}

.is-mobile .home_titles {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.home_titles strong {
    font-weight: inherit;
    color: #2c71f6
}

.home_titles .title {
    font-size: 4.86111vw;
    line-height: 1.2
}

.is-mobile .home_titles .title {
    font-size: 9.33333vw
}

.de-DE.is-mobile .home_titles .title,
.nl-NL.is-mobile .home_titles .title {
    font-size: 7.33333vw;
    line-height: 1
}

.home_titles .baseline {
    font-size: 1.11111vw;
    line-height: 1.2;
    margin-top: 1.8vw
}

.home_titles .baseline strong {
    color: #2c71f6
}

.is-mobile .home_titles .baseline {
    font-size: 4.26667vw;
    margin-right: 8.33333%;
    margin-bottom: 37vw
}

.home_intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff
}

.home_intro .home_titles .title {
    margin-top: 5.8vw
}

.home_intro_videos {
    width: inherit;
    height: inherit;
    opacity: .9999
}

.home_intro_videos .intro {
    z-index: 1
}